.App {
	text-align: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.Navbar {
	background-color: #212121;
	color: #ffff;
	height: 70px;
	line-height: 70px;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	.cartContainer {
		background-color: #ffff;
		width: 40px;
		height: 40px;
		border: 1px black solid;
		border-radius: 55%;
		margin-top: 15px;
		.cartIcon {
			height: 25px;
			padding-bottom: 15%;
		}
	}
	input {
		height: 25px;
		width: 200px;
		margin-top: 20px;
	}
}

.cartContainer:hover {
	-webkit-box-shadow: 0px 0px 18px 2px rgba(249, 245, 245, 1);
	-moz-box-shadow: 0px 0px 18px 2px rgba(249, 245, 245, 1);
	box-shadow: 0px 0px 18px 2px rgba(249, 245, 245, 1);
}
